.controlholder {
    display: block;
}

.feedback {
    height: calc(100% - 6em);
    width: 100%;
    justify-content: center;
    align-content: center;
    margin-top: 1em;
    position: relative;
}
.feedback_IMG {
    max-height: 40vh;
    max-width: 80vw;
}
.feedback_text {
    display: block;
    font-size: 3em;
    color: #FFFFFF;
}
.action_button_holder {
    margin-left: auto;
    margin-right: auto;
}
.action_button {
    width: 46vw;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
    height: auto;
    background-color: #0288D1;
    border: none;
    display: inline-block;
}
.ab2 {
    float: left;
}
.feedback_letter {
    font-size: 35vh;
    color: #FFFFFF;
}
.action_button_IMG {
    max-width: 30vw;
    max-height: 15vh;
}
#footer {
    width: 100vw;
    height: 2em;
    display: block;
    position: fixed;
    background-color: #0288D1;
    z-index: 2;
    bottom: 0;
}
#progressbar {
    width: 0%;
    height: 100%;
    background-color: #FF9800;
    transition: width 0.5s ease;
}
#step1 {
    display: block;
}
#step2 {
    display: none;
}
#step3 {
    display: none;
}
#step4 {
    display: none;
}
#step5 {
    display: none;
}
#canvas {
    margin-left: auto;
    margin-right: auto;
    border: 5px solid red;
}
#video {
    border: 3px solid blue;
    display: none;
}